{% extends "base.html" %}

{% block content %}

<style>
  input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ced4da;
  }
</style>

<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow border-0">
      <div class="card-body p-4">

        <h4 class="text-center mb-4">Change Password</h4>

        <form method="POST">
          {% csrf_token %}

          {% for field in form %}
            <div class="mb-3">
              <label class="form-label">{{ field.label }}</label>
              {{ field }}
              <small class="text-danger">{{ field.errors }}</small>
            </div>
          {% endfor %}

          <button type="submit" class="btn btn-warning w-100">
            Change Password
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
